@using Etch.OrchardCore.RSS.ViewModels
@model RSSFeedSettingsViewModel

<h3>@T["RSS Feed Settings"]</h3>

<div class="form-group row" asp-validation-class-for="Hour">
    <div class="col-lg">
        <label asp-for="Hour">@T["Hour"]</label>
        <input type="number" asp-for="Hour" class="form-control" />
        <span asp-validation-for="Hour"></span>
        <span class="hint">@T["The number of hours to delay the news item before being added to the RSS Feed."]</span>
    </div>
</div>